<slam>
<tracker>
	tracker_surf
</tracker>
<data>
    D:\\SLAM\\Datos\\airview\\Rozas4\\images\\image%0.4d.png
</data>
<gui>
	false
</gui>
<frame_increment>
    1
</frame_increment>
<waitkey>
   100
</waitkey>
<tests>
    <ransac></ransac>
</tests>
<resdir>
    ..\\resdir\\
</resdir>
<vehicle id=FreeCam>
    <data>
        D:\\SLAM\\Datos\\univ-alberta-vision-sift\\ualberta-csc-flr3-vision\\image%04d.png
    </data>
</vehicle>

</slam>

